  <syscheck>
    <disabled>no</disabled>
    <frequency>43200</frequency>
    <scan_on_start>yes</scan_on_start>
    <alert_new_files>yes</alert_new_files>
    <auto_ignore frequency="10" timeframe="3600">no</auto_ignore>

{% set all_dirs = wazuh_fim_dirs + wazuh_fim_extra_dirs %}
{% for dir in all_dirs %}
    <directories realtime="yes"{% if dir.report_changes is defined %} report_changes="{{ dir.report_changes }}"{% endif %} check_all="yes">{{ dir.path }}</directories>
{% endfor %}

    <!-- Ignore noisy paths -->
    <ignore type="sregex">.log$|.tmp$|.swp$</ignore>
    <ignore>C:\Windows\System32\winevt\Logs</ignore>
    <ignore>C:\Windows\System32\wbem\Repository</ignore>
    <ignore>C:\Windows\Prefetch</ignore>
    <ignore>C:\Windows\Temp</ignore>
    <ignore>C:\Users\*\AppData\Local\Temp</ignore>
  </syscheck>
