[defaults]
inventory = inventory.yml
roles_path = roles
deprecation_warnings = False
interpreter_python = auto_silent
result_format=yaml
host_key_checking = False
retries = 3
vault_password_file = ~/.vault_pass

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s